init-ssh

ssh/*
!ssh/insecure-deployer*

terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
uploads/ports/default/*
!uploads/ports/default/Readme.md

#uploads/pkglists/*
!uploads/pkglists/default.example
